// For hotkey use letters, numbers, f1, f2... and button name: alt, shift, ctrl, win, menu, capslock, tab,
// backspace, enter, insert, delete, end, home, page up, page down, num lock, right, left, up, down
// Use ", " as separation for multiple buttons

FOR_STRING = shift, alt, a
FOR_WORD = alt, ctrl, a
CAPS = alt, capslock
LENG1 = ёйцукенгшщзхъфывапролджэ\ячсмитьбю.ЁЙЦУКЕНГШЩЗХЪФЫВАПРОЛДЖЭ/ЯЧСМИТЬБЮ,
LENG2 = `qwertyuiop[]asdfghjkl;'\zxcvbnm,./~QWERTYUIOP{}ASDFGHJKL:"|ZXCVBNM<>?